/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  margin: 0 auto;
  padding: 100px 0 105px 0;
  min-inline-size: 320px;
  width: 100%;
  max-width: 700px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--text-weight-font);
  background-color: #fff;
  background: repeating-linear-gradient(
      to right,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  background-size: cover;
  background-blend-mode: multiply;
}

.header {
  block-size: clamp(20.188rem, 19.197rem + 4.23vw, 23rem);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--accent-color);
  font-family: var(--accent-font), sans-serif;
  text-transform: uppercase;
  gap: 20px;
  border: 2px solid var(--accent-color);
}

.header__title {
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  font-weight: 400;
}

.subtitle {
  font-size: clamp(0.875rem, 0.677rem + 0.85vw, 1.438rem);
  font-weight: 400;
}

.content {
  width: 100%;
  margin-block-start: 100px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.content__card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 2px solid var(--accent-color);
}

.content__card-hero {
  position: relative;
  height: clamp(23.438rem, 16.373rem + 30.14vw, 43.5rem);
  border-block-start: 2px solid var(--accent-color);
  border-block-end: 2px solid var(--accent-color);
}

.content__card-hero img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.content__card-lable {
  position: absolute;
  right: 25px;
  top: 25px;
  color: var(--accent-color);
  font-size: 14px;
  line-height: 100%;
  opacity: 0.5;
  font-family: var(--accent-font), sans-serif;
  -webkit-text-stroke: 2px rgb(255, 255, 255, 0.5);
  font-weight: 400;
  mix-blend-mode: hard-light;
}

@media (width <= 375px) {
  .content__card-lable {
    right: 11px;
  }
}

.content__card-title {
  display: grid;
  font-variation-settings: "wght" var(--title-weight-font);
  width: 100%;
  line-height: 140%;
  font-size: 18px;
  padding: 3px 10px;
}

.content__card-discription {
  padding: 25px;
  font-size: 18px;
  line-height: 21px;
}

.content__card-discription p:first-of-type {
  margin-block-end: 27px;
}

.content__card-like {
  padding: 2px;
  margin-block-start: 25px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
}

.sparks {
  opacity: 0;
}

.card__icon-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: transparent;
  border: none;
  padding: 0;
  transition: outline 0.3s ease;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s ease 0.03s;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s ease;
}

.like-icon .contour {
  transition: fill 0.3s ease 0.06s;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s ease;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s ease 0.05s;
}

.like-icon:active .core {
  fill: #ff0000;
  transition: fill 0.3s ease;
}

.like-icon:active .main-body {
  fill: #ff0000;
  transition: fill 0.3s ease 0.05s;
}

.like-icon.is-liked .core {
  fill: #ff0000;
}

.like-icon.is-liked .main-body {
  fill: #ff0000;
}

.like-icon.is-liked .contour {
  fill: #ff0000;
  transition: fill 0.1s linear;
}

.like-icon.is-liked .heart {
  animation: scale 0.3s ease-in normal 0.1s;
  transform-origin: center;
}

@keyframes scale {
  from {
    scale: 1;
  }

  to {
    scale: 1.25;
  }
}

.like-icon.is-liked .sparks {
  animation: sparkle 0.3s normal ease-in 0.3s;
}

@keyframes sparkle {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible .like-icon {
  outline: 2px solid var(--accent-color);
}

.card__like-button {
  padding: 0;
  width: 126px;
  height: 34px;
}

.card__like-button,
.save-button,
.ok-button {
  position: relative;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  outline: 2px solid var(--accent-color);
  border: none;
  background-color: #fff;
  overflow: hidden;
}

.card__like-button:focus,
.save-button:focus,
.ok-button:focus {
  box-shadow: 4px 4px 0 var(--accent-color);
}

.card__like-button::after,
.save-button::after,
.ok-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  background-color: var(--accent-color);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.card__like-button:hover::after,
.save-button:hover::after,
.ok-button:hover::after {
  transform: translateX(0);
}

.button__text {
  padding-top: 5px;
  position: relative;
  color: #fff;
  mix-blend-mode: difference;
  z-index: 2;
  font-family: var(--accent-font);
  line-height: 90%;
  font-size: 14px;
  transition: color 0.5s ease-in-out;
}

.save-button {
  color: #fff;
  padding: 12px 18px;
  place-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: clamp(19.125rem, 18.487rem + 2.72vw, 20.938rem);
}

.save-button svg {
  position: relative;
  z-index: 2;
  fill: currentColor;
  mix-blend-mode: difference;
  width: 21px;
}

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
    padding: 18px;
  }

  .save-button svg {
    width: 28px;
  }

  .button__text {
    padding: 0;
  }
}

.popup {
  width: 350px;
  border: none;
  outline: 2px solid var(--accent-color);
  padding: 30px 40px;
  background-color: #fff;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.popup__description {
  display: flex;
  gap: 20px;
  align-items: center;
}

.popup__description svg {
  flex-shrink: 0;
}

.popup__description-text {
  line-height: 150%;
}

.ok-button {
  margin-block-start: 24px;
  width: 100%;
  height: 40px;
  line-height: 90%;
  text-align: center;
}

.popup::backdrop {
  opacity: 0.75;
  background-color: var(--accent-color);
}
